* {
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
/*header*/
.header{
    position: relative;
    padding: 50px;
    text-align: left;
    background: #333333;
}
.header a{
    color: azure;
    text-decoration: none;
}
.header h1 {
  text-decoration:"none";
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: 16px;
}
/*nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #333;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color:azure;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #333
}

.dropdown:hover .dropdown-content {
    display: block;
}
.x {
    float: right;
}
/*slide show*/
.mySlides {display: none;}
img {vertical-align: middle;
    margin-top: 20px;
}
.slideshow-container {
    max-width: 500px;
    max-height: 200px;
    position: relative;
    margin: auto;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 90px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .footer { 
    padding: 60px;
    text-align: center;
    background: #333;
    margin-bottom: 20px;
}
.newspaper {
    -webkit-column-count: 3;
    column-count: 3;
    color: azure;
}
.about{
    background: rgb(238, 234, 234);
    text-align: center;
    color: #333;
}
.about img{
    width: 300;
    height: 300;
    align: center;
}
/*account create*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .container {
    padding: 16px;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
   @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  /*tooltip*/
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 105%;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .div6 {
    padding: 60px;
    text-align: center;
    background: rgb(238, 234, 234);
    margin-bottom: 20px;
    border: 2px solid black;
  }
  .self {
    -webkit-column-count: 2;
    column-count: 2;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }